.App {
  text-align: center;
}

p {
  color: black;
  margin: 0px;
}

h1 {
  color: black;
  margin: 10px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.infos-de-connexion {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.attributeContainer {
  width: 100%;
  padding: 20px 10%;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(235, 235, 235);
}

.field {
  display: flex;
  flex-direction: row;
}

.attribute {
  padding: 0px 5px;
}

.sign-out {
  margin: 40px;
  background-color: rgb(186, 13, 13);
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
}
